body{
    /*background-color: #051128;*/
    /*color: antiquewhite;*/
}

.container {
    margin-top: 100px !important;
}
.footer{
    padding: 20px !important;
}
.footer a{
    color: rgba(255,255,255,.5);
    padding-right: .5rem;
    padding-left: .5rem;
}
.footer a:hover{
    color: rgba(255,255,255,.9);
    text-decoration: none;
}

img.logo {
    height: 50px;
}
